* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: blue;
}

.header__title {
  color: white;
}

.header__paragraph {
  color: red;
}

.header__ul {
  display: flex;
}

.header__li {
  color: aqua;
}
.news {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: violet;
}
.footer {
  background-color: gray;
}

.footer__ul {
  background-color: green;
}

.footer__li {
  color: black;
}
